blockquote {
  border-left: 5px solid var(--md-sys-color-outline-variant);
  text-wrap: balance;
  padding: 1em 0.5rem 0.5rem 1.5rem;
  margin: 2.5em 0;
  font-style: italic;

  p {
    font-weight: 600;
    line-height: 1.5;
  }

  strong {
    background-color: var(--marker);
    font-weight: inherit;
    padding: 0.1em 0.2em;
    margin-inline: -0.2em;
  }
}

button[role="go-top"] {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: var(--z-index-2);
  width: 4rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &:hover {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
  }
}
