#sidebar {
  max-height: calc(100dvh - 7rem);
  overflow: auto;

  nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  a {
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--md-sys-color-surface-container-highest);
      font-weight: bold;
      text-decoration: none;
    }
  }
}
