/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

body {
  font-family: "Inter", system-ui;
}

/* heading and subtitle */
h1 {
  letter-spacing: -0.03em;
  font-size: 2.6rem;

  &,
  + p {
    text-align: center;
    text-wrap: balance;
    max-width: 40rem;
    margin: 0 auto 0.2em;
  }

  + p {
    font-size: 1.15em;
    margin-bottom: 2em;
  }
}

/* links */
a {
  text-decoration: none;

  /* navigational links */
  nav & {
    font-weight: 500;
  }
}

/* bulk content */
p,
li {
  line-height: 1.65;
}
