li {
  margin-bottom: 1em;
}

/* syntax highligted code */
pre {
  position: relative;

  code {
    background-color: inherit;
    color: inherit;
  }

  &::before {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: small;
  }

  &:has(code[language="ts"])::before {
    content: "TS";
  }
  &:has(code[language="js"])::before {
    content: "JS";
  }
  &:has(code[language="cpp"])::before {
    content: "C++";
  }
  &:has(code[language="c"])::before {
    content: "C";
  }
  &:has(code[language="java"])::before {
    content: "Java";
  }
  &:has(code[language="py"])::before,
  &:has(code[language="python"])::before {
    content: "Python";
  }
}

/* images and code blocks */
img,
pre {
  border-radius: 8px;
}

figure {
  text-align: center;

  figcaption {
    font-size: smaller;
    font-style: italic;
    text-align: center;
  }
}

code {
  padding: 0.2em 0.4em;
  line-break: anywhere;
  display: inline-block;
  line-height: 1.35;
  font-size: 13px;
  border-radius: 4px;
}

img {
  width: unset;
  max-width: 100%;
}

table {
  padding: 1rem 0;

  caption {
    font-style: italic;
    font-size: smaller;
  }
}

th,
td {
  padding: 6px 13px;
  border: 1px solid var(--md-sys-color-outline);
}
