li {
  margin-bottom: 1em;
}

/* Code tabs */
div[is="aria-tabs"] {
  ul {
    padding-inline-start: 0;
  }

  li[role=tabpanel] {
    list-style: none;
  }

  a[role=tab] {
    padding: 0.25rem;
    border-radius: 0.25rem;
  }

  a[aria-selected=true] {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
  }
}

/* syntax highligted code */
pre {
  --glow-padding: 2em;
  font-size: 105%;
}

/* images and code blocks */
img, pre {
  border-radius: 8px;
}

figure {
  text-align: center;

  figcaption {
    font-size: smaller;
    font-style: italic;
    text-align: center;
  }
}

code, pre {
  background-color: #282c34;
  color: #abb2bf;
  border-radius: 5px;
}

code {
  padding: 0.2em 0.4em;
  line-break: anywhere;
  display: inline-block;
  line-height: 1.35;
  font-size: 13px;
}

img {
  width: unset;
  max-width: 100%;
}
