


ul:has(time) {
  list-style: none;
  margin: 4em 0;
  padding: 0;;


  li {
    margin-bottom: 3em;
  }

  figure {
    transition: transform .1s;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    gap: 1rem;
    margin: 0;
    &:hover { transform: scale(1.01) }
    text-align: center;
    justify-content: center;
  }

  time {
    opacity: 0.5;
    font-size: 85%;
  }

  h2 {
    text-wrap: balance;
    font-size: 1.05em;
    line-height: 1.5;
    margin: .3em 0 0;
  }

  img {
    max-width: 12em;
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  ul:has(time) {
    figure {
      gap: 3rem;
      justify-content: left;
      flex-wrap: nowrap;
      text-align: left;
    }
  }
}

