body {
  > main {
    aside#sidebar,
    aside#toc {
      position: sticky;
      display: none;
      top: 0;
    }

    article {
      > footer {
        nav {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 1rem;

          a {
            width: 100%;
          }

          h3 {
            margin: 0;
          }

          button[role="next-article"],
          button[role="prev-article"] {
            width: 100%;
            padding: 1rem;
          }

          button[role="next-article"] {
            text-align: right;
          }

          button[role="prev-article"] {
            text-align: left;
          }
        }
      }
    }
  }
}

#mobile {
  display: block;
}

@media (min-width: 576px) {
  body {
    > main {
      article {
        > footer {
          nav {
            flex-wrap: nowrap;

            a {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    > main {
      display: grid;
      grid-template-columns: repeat(10, 1fr);

      aside#sidebar {
        display: block;
        grid-column-start: span 3;
      }

      article {
        grid-column-start: 5;
        grid-column-end: 11;
      }
    }
  }

  #mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    main {
      grid-template-columns: repeat(12, 1fr);

      aside#sidebar {
        grid-column-start: span 2;
      }

      aside#toc {
        display: block;
        grid-column-start: 11;
        grid-column-end: 13;
      }

      article {
        grid-column-start: 4;
        grid-column-end: 10;
      }
    }
  }
}
