::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}

/* consistent whitespace */
figure,
pre {
  margin-block: 2em;
}

ul,
ol,
li {
  margin-block: 0.5em;
}

img {
  width: 100%;
  height: auto;
}

a,
button,
button-theme,
button-go-top {
  cursor: pointer;
}

blockquote {
  border-left: 5px solid var(--md-sys-color-outline-variant);
  text-wrap: balance;
  padding: 1em 0.5rem 0.5rem 1.5rem;
  margin: 2.5em 0;
  font-style: italic;

  p {
    font-weight: 600;
    line-height: 1.5;
  }

  strong {
    background-color: var(--marker);
    font-weight: inherit;
    padding: 0.1em 0.2em;
    margin-inline: -0.2em;
  }
}

button,
button-go-top {
  border: none;
}

button-go-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: var(--z-index-2);
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &:hover {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
  }
}

button,
button-theme {
  border-radius: 12px;
}

button-theme {
  appearance: auto;
  padding: 2px 6px;
}
