body,
button {
  font-family: "Inter", system-ui;
}

/* heading and subtitle */
.footnote {
  font-size: 0.749em;
}

.caption,
.endnote,
figcaption,
caption {
  font-size: 0.825em;
}

body,
blockquote,
h6 {
  font-size: 1em;
}

h5 {
  font-size: 1.101em;
}

h4 {
  font-size: 1.212em;
}

h3 {
  font-size: 1.47em;
}

h2 {
  font-size: 1.961em;
}

h1 {
  font-size: 3.174em;
}

/* links */
a {
  text-decoration: none;

  /* navigational links */
  nav & {
    font-weight: 500;
  }
}

/* bulk content */
p,
li {
  line-height: 1.65;
}

table {
  font-size: 14px;
}
